.app {
	background-color: #ededed;
}

.container-column {
	display: flex;
	flex-direction: column;
}

.flex-container {
	display: flex;
	
	.flex-item {
		flex: 1;
	}
}

.app-container {
	display: flex;
	justify-content: center;
	height: 300px;

	img {
		height: 300px;
	}
}

button {
	background-color: blue;
}

a {
	font-weight: bold;
	text-decoration: none;
}